@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

main {
    background-color: #FFFFEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .title-container {
    font-family: 'Pacifico', sans-serif;
    font-size: 3em;
    background-color: white;
    border-radius: 2vw;
    padding: 0.5em 1em;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
    margin: 1em 0;
}

.main-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 75%;
    background-color: #B19470;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3rem;
    margin-bottom: 3rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.ingredient, .instruction, .images {
    background-color: white;
    font-size: 1.2rem;
    padding: 3rem 5rem;
    border-radius: 3rem;
    max-width: 30vw;
    margin: 3rem 3rem 0 3rem;
}

.ingredient:last-child,
.instruction:last-child,
.images:last-child {
    margin-bottom: 3rem;
}

.main-panel .title {
    font-weight: bolder;
    font-size: 1.5rem;
}

.main-panel .title.primary {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1em;
}

.main-panel li {
    margin: 2rem 1rem;
    list-style: circle;
}

.left {
    display: flex;
    flex-direction: column;
}

.images img {
    border-radius: 3rem;
}

.images img:nth-of-type(1) {
    margin-bottom: 3rem;
}